
<div class="form-group">
  <div class="cont-search">
  <input type="text" class="forms-control" placeholder="Buscar..                                                                                                                          " >
  
  <tr *ngFor="let product of productList | filter: productList"></tr>
</div>

</div>

<div class="row">
  <div class="product-item col-md-3" *ngFor="let product of productList">
    <app-product-item [productItem]="product" [addedToWishlist]="wishlist.indexOf(product.id) >= 0"></app-product-item>
  </div>
</div>
