
    <div class="card-body">
       
            <div class="icon-pen">
                <i class="fa-solid fa-pen"></i>
            </div>
     
        <div class="img-fresh">      
            <a routerLink="/"><img src="../../../../assets/images/Imagen 1.png" alt="logo-fresh"> </a>
        </div>

        <div class="nav-lat">
            <div class="list">
                <i class="fa-solid fa-house-chimney-window"></i>
                <li class="home">Home</li>
            </div>
            
            <div class="list">
            <i class="fa-solid fa-users"></i>
            <li class="clientes">Clientes</li>
            </div>
            <div class="list">
            <i class="fa-solid fa-list-check"></i>
            <li class="ventas">Ventas</li>
            </div>
            <div class="list compras">
            <i class="fa-solid fa-basket-shopping"></i>
            <li class="">Compras</li>
            </div>
            <div class="list">
            <i class="fa-solid fa-cash-register"></i>
            <li class="caja">Caja</li>
            </div>
            <div class="list">
            <i class="fa-solid fa-boxes-stacked"></i>
            <li class="inventario">Inventario</li>
            </div>
            <div class="list">
            <i class="fa-solid fa-tag"></i>
            <li class="productos">Productos</li>
            </div>
            <div class="list">
            <i class="fa-solid fa-file-circle-plus"></i>
            <li class="reportes">Reportes</li>
            </div>
            <button class="cerrar" name="button">CERRAR CAJA</button>
            <button class="salir" name="button">SALIR</button>


        </div>
    </div>
