/* Global styles */


.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



.container{
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 1208px;
  background: #EFEFEF 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  align-items: center;
}

